#img-loader{
    max-width: 1rem;
}

#div-editar-bg{
    position: fixed;
    top: 0px;
    right: 0px;
}

.section-m{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.btn-cahum{
    background-color: #F6800E;
    border-color: #fff;
}

#skills-card{
    background-color: #F6800E;
}

.bg-black{
    background-color: #262525;
}

.borderless{
    border: none;
}

.skillbar-bar {
    height: 4px;
    width: 0;
    background: #282828;
}

.slant{
    height: 100%;
}