#img-loader{
    max-width: 1rem;
}

#div-editar-bg{
    position: fixed;
    top: 0px;
    right: 0px;
}

.section-m{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.btn-cahum{
    background-color: #F6800E;
    border-color: #fff;
}